* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.contact-card {
  display: flex;
  padding: 10px;
  color: #ffffff;
  background-color: rgb(42, 84, 104);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 500px;
  margin-bottom: 10px;
}

.contact-card p {
  margin-left: 10px;
  margin-top: 0;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.cards {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .cards {
    margin: 0 1rem;
  }
}

.form-content {
  margin: 1rem auto;
  width: fit-content;
}

.form-content input,
.form-content button {
  padding: 0.5rem 1rem;
}

.form-content input {
  width: 200px;
}

.form-content button {
  background-color: rgb(24, 85, 175);
  color: white;
  border: none;
  border-radius: 6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-content button:hover {
  background-color: white;
  color: rgb(24, 85, 175);
}